body
{
	background-image: url("images/backgroundFormation.jpg");
	background-size: 1920px 1080px;
	text-shadow: -6px 6px 6px black;
	padding-left: 10px;
}

h1
{
	color: #CED1F6;
	font-family: 'open_sansregular', Impact, "Arial Black", Arial, Verdana, ;
	text-decoration: underline;
	font-size: 5em
}

p
{
	color: #CED1F6;
	font-size: 2em;
}

@font-face 
{
    font-family: 'open_sansregular';
    src: url('fonts/openRegular/OpenSans-Regular-webfont.eot');
    src: url('fonts/openRegular/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/openRegular/OpenSans-Regular-webfont.woff2') format('woff2'),
         url('fonts/openRegular/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/openRegular/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/openRegular/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}